.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "h h "
  "n c";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 5fr;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #343434;
  width: 60%;
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .app-wrapper {
    width: 1200px;
  }
}
@media (max-width:  2000px) {
  .app-wrapper {
    width: 1920px;
  }
}