.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "h h "
  "n c";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 4fr;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #343434;
  width: 70%;
  margin-top: 20px;
  border-radius: 20px;
display: inline-block;
}

@media only screen and  (max-width: 1024px)  {
  .app-wrapper-content {
    grid-area: c;
    background-color: #343434;
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    display: inline-block;
  }
}
/*@media only screen and (min-width: 200px) and (max-width: 767px) {*/
/*  .app-wrapper {*/
/*    grid-template-columns: 2fr 7fr;*/
/*  }*/
/*}*/
/*@media (max-width: 900px) {*/
/*  .app-wrapper {*/
/*    width: 900px;*/
/*  }*/
/*}*/